soa/BamExporterApp/BAMExporter/SOA/WSDLs/BamZipFile.wsdl

<wsdl:definitions
     name="BamZipFile"
     targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/file/BamExporter/BAMExporter/BamZipFile"
     xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/file/BamExporter/BAMExporter/BamZipFile"
     xmlns:jca="http://xmlns.oracle.com/pcbpel/wsdl/jca/"
     xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:attach="http://xmlns.oracle.com/pcbpel/adapter/file/attachment/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
  <plt:partnerLinkType name="SynchRead_plt" >
    <plt:role name="SynchRead_role" >
      <plt:portType name="tns:SynchRead_ptt" />
    </plt:role>
  </plt:partnerLinkType>
    <wsdl:types>
    <schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/file/attachment/" xmlns="http://www.w3.org/2001/XMLSchema"
            elementFormDefault="qualified" >
      <element name="attachmentElement" >
         <complexType>
           <attribute name="href" type="string" />
         </complexType>
      </element>
        <element name="empty"><complexType/></element>
    </schema>
    </wsdl:types>
    <wsdl:message name="Empty_msg">
        <wsdl:part name="Empty" element="attach:empty"/>
    </wsdl:message>
    <wsdl:message name="SynchRead_msg">
        <wsdl:part name="attach" element="attach:attachmentElement"/>
    </wsdl:message>
    <wsdl:portType name="SynchRead_ptt">
        <wsdl:operation name="SynchRead">
            <wsdl:input message="tns:Empty_msg"/>
            <wsdl:output message="tns:SynchRead_msg"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
